<ul id="comments" class="comment-list">
  <% @comments.each do |comment| %>
    <li class="comment-item">
      <%= link_to comment.user.login, user_path(comment.user), class: "comment-author" %>
      <span class="comment-time"><%= format_datetime(comment.created_at, "%Y-%m-%d %H:%M") %></span>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    </li>
  <% end %>
</ul>

