<ul id="comments" class="comment-list">
  <% @comments.each do |comment| %>
    <li class="comment-item">
      <%= link_to simple_format(comment.author), user_path(comment.user), :class=> "comment-author" %>
      <div class="comment-content">
        <%= simple_format comment.content %>
      </div>
    </li>
  <% end %>
</ul>

