  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="main_content_code.jpg" src="main_content_code.jpg" alt="code image">
      <div class="caption">
        <h3>You Can Code</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="main_content_share.jpg" src="main_content_share.jpg" alt="code image">
      <div class="caption">
        <h3>You Can Share</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="main_content_participant.jpg" src="main_content_participant.jpg" alt="code image">
      <div class="caption">
        <h3>You Can Participant</h3>
      </div>
    </div>
  </div>