<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <%= render "home/hero" %>
  </div>
</div>
<hr>
<div class="container">
  <h1 class="title center">最近活动</h1>
  <%= render "home/recent_events" %>
  <hr>
  <h1 class="title center">在这里，你可以。。。</h1>
  <%= render "home/main_content" %>
</div>