<h2>线下活动</h2>

<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <th>subtitle</th>
      <th>start_at</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.title, event_path(event) %>
        </td>
        <td><%= event.subtitle %></td>
        <td><%= format_datetime(event.start_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @events %>
