// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-item {
  padding: 13px 0 11px;
}

.comment-content {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

.comment-time {
  color: #9A9CA2;
  font-size: 13px;
  margin-left: 5px;
}

.comment-actions {
  margin-top: 5px;
}